.loader {
    text-align: center;
    border-radius: 4px;
    padding: 30px 50px;
    margin: 20px 0;
}
.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card{
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;

}